<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
</head>
<style>
    body{
        background-image: url('img/root.jpg'); 
        background-size: 100% 100%; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="row">
            <h1 class="text" style="text-decoration: underline; color: #fff;"><b>ABOUT US</b></h1>
        </div>
<div class="regis-container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <img src="img/logo.png" class="center-block" style="width: 150px; height: 150px;">
            </div>
            <div class="col-md-3">
            <h2 style="text-align: center; color: #5cb85c; font-size: 45px; font-family: roboto" class="text"><b>18-EROARY: </b></h2>
            <h4 style="text-align: center; font-family: rubik; color: #bce3bc"class="text">An Itinerary Maker and Travel Tracker</h4>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
            <br>
        </div>
        <div class="row">

        	<div class="col-md-4">
            	<p style="text-align: center" class="text"> Create your account and be part of the adventurous' society! Register and login to access all our features that will make planning your travels and keeping tracks of it easy!</p>
            </div>

        	<div class="col-md-4">
            	<p style="text-align: center" class="text"> Keep track of your to-do list with the Itinerary Maker! Create, view, edit, delete, and download your itineraries and be able to access others' itineraries easily. This makes your itinerary-making shareable and hassle-free!</p>
            </div>

            <div class="col-md-4">
            	<p style="text-align: center" class="text"> Keep you travel memories with you with the Travel Tracker! Create, edit, and delete your memories from your Diary. Don't lose tracks of your adventures!</p>
            </div>
        </div>

      	<div class="row">
      		<br>
      	</div>

      	<div class="row">
      		<div class="col-md-4">
            </div>

            <div class="col-md-4">
            	<h3 style="text-align: center"class="text">NPM DEPENDENCIES:</h3>

            </div>

            <div class="col-md-4">
            </div>
      	</div>

      	<div class="row">
      		<div class="col-md-4">
      			<p style="text-align: center"class="text">aws-sdk: 2.656.0</p>
      			<p style="text-align: center"class="text">body-parser: 1.19.0</p>
            	<p style="text-align: center"class="text">cookie-parser: 1.4.5</p>
            	<p style="text-align: center"class="text">express: 4.17.1</p>
            </div>

            <div class="col-md-4">
            	
            	<p style="text-align: center"class="text">express-handlebars: 4.0.0</p>
            	<p style="text-align: center"class="text">handlebars: 4.7.3</p>
            	<p style="text-align: center"class="text">moment: 2.24.0</p>
            	<p style="text-align: center"class="text">mongodb: 3.5.5</p>
                <p style="text-align: center"class="text">mongo-sanitize: 1.1.0</p>
                

            </div>

            <div class="col-md-4">
            	<p style="text-align: center"class="text">mongoose: 5.9.6</p>
            	<p style="text-align: center"class="text">multer: 1.4.2</p>
                <p style="text-align: center"class="text">multer-s3: 2.9.0</p>
                <p style="text-align: center"class="text">path: 0.12.7</p>
            </div>
      	</div>

      	<div class="row">
      		<br>
      	</div>

        <div class="row">
        	<div class="col-md-5"></div>
        	<div class="col-md-5">
            	<a href="/home" type="submit" id="register" class="btn btn-success" style=" text-align: center;">PROCEED TO HOME PAGE</a>
            </div>
        </div>
        <br>
    </form>
</div>