{{> header}}
<style>
    body{
        background-image: url('img/dive.jpg'); 
        background-size: 100% 100%; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="logout-container">
	<img src="img/egg.png" class="display-pic"><br>
	<h1>You have successfully logged out.</h1><br>
	<div class="row">
		<a href="home" class="btn btn-success center-block text-center" role="button" style="width: 160px;">Back to Home Page</a>
	</div>
</div>