{{>navbar}}
 <style>
    body{
        background-image: url('img/aerialwalk.jpg'); 
        background-size: 100% 100%; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: black;">Write Review for {{it_name}}</h2>
        </div>
        <form method="POST">
        <div class="col-lg-2">
            <h2><button type="submit" id="review" class="btn btn-success btn-block">Save Review</button></h2>
        </div>
        <div class="col-lg-2">
            <h2><a href="/itineraries" class="btn btn-success btn-block" role="button" >Back to Itineraries</a></h2>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <label for="stars">Star Rating:</label>
                        <span class="glyphicon glyphicon-star" id="star1" style="color: rgb(231, 231, 59);"></span>
                        <span class="glyphicon glyphicon-star" id="star2"></span>
                        <span class="glyphicon glyphicon-star" id="star3"></span>
                        <span class="glyphicon glyphicon-star" id="star4"></span>
                        <span class="glyphicon glyphicon-star" id="star5"></span>
                        <span id='starCount'>1</span>
                        <input type="number" min="1" max="5" id='stars' name="stars" value="1" hidden>
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" rows="5" id="content" placeholder="Write a review for this itinerary" name="content" required></textarea>
                        <input type="text" id="revIt_id" name="it_id" value="{{it_id}}" hidden>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>